<mat-card class="mt-5">
  <mat-action-list>
    <div class="text-center">
      <h3><strong>Menu</strong></h3>
    </div>

    <hr class="w-50 mx-auto" />

    <button mat-list-item routerLink="/user-dashboard">
      <mat-icon mat-list-icon>dashboard</mat-icon>Dashboard
    </button>

    <button mat-list-item routerLink="/user-dashboard/profile">
      <mat-icon mat-list-icon>account_circle</mat-icon>Profile
    </button>


    <button mat-list-item routerLink="/user-dashboard/quizzes">
      <mat-icon mat-list-icon>quiz</mat-icon>All Quizzes
    </button>

    <button mat-list-item routerLink="/user-dashboard/my-favourites">
      <mat-icon mat-list-icon>favorite</mat-icon>Favourite Quizzes
    </button>

    <button mat-list-item routerLink="/user-dashboard/leaderboard">
      <mat-icon mat-list-icon>leaderboard</mat-icon>Leaderboard
    </button>

    <button mat-list-item (click)="logout()">
      <mat-icon mat-list-icon>logout</mat-icon>Logout
    </button>
  </mat-action-list>
</mat-card>
