.example-header-image {
  background-image: url("/assets/exam.png");
  width: 80px;
  height: 80px;
  background-size: cover;
}

.load-quiz {
  background-color: #ffcfdf;
  background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
  border-radius: 10px;
}

.fav{
  position: relative;
  float: right;
}
