<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  <div class="col">
    <div class="card" (click)="goToUsers()">
      <img src="/assets/adminDashUsers.jpg" class="card-img-top" alt="..." />
      <div class="card-body text-center">
        <h1 class="card-title">Users</h1>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" (click)="goToQuizzes()">
      <img src="assets/userDashQuiz.jpg" class="card-img-top" alt="..." />
      <div class="card-body text-center">
        <h1 class="card-title">Quizzes</h1>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" (click)="goToLeaderBoard()">
      <img
        src="/assets/userDashLeaderboard.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body text-center">
        <h1 class="card-title">Leaderboard</h1>
      </div>
    </div>
  </div>
</div>
