<div class="row my-5">
  <div class="col-md-12 text-center">
    <h1>
      Adding Question to
      <span style="font-weight: bold">{{ currentQuiz.name }}</span>
    </h1>
    <hr class="w-50 mx-auto" style="color: #ffff" />
    <mat-card class="my-5">
      <mat-card-content>
        <form (submit)="formSubmit()">
          <!-- content field -->
          <mat-form-field class="w-100">
            <mat-label>Write Question Content</mat-label>
            <textarea
              required
              rows="8"
              [(ngModel)]="questionData.question"
              name="content"
              matInput
              placeholder="Enter here"
            >
            </textarea>
          </mat-form-field>

          <!-- opations -->

          <div class="row">
            <div class="col-md-6">
              <!-- option1 -->
              <mat-form-field class="w-100">
                <mat-label>Enter Option1</mat-label>
                <input
                  required
                  [(ngModel)]="questionData.options[0]"
                  name="option1"
                  type="text"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <!-- option2 -->
              <mat-form-field class="w-100">
                <mat-label>Enter Option2</mat-label>
                <input
                  required
                  [(ngModel)]="questionData.options[1]"
                  name="option2"
                  type="text"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <!-- option3 -->
              <mat-form-field class="w-100">
                <mat-label>Enter Option3</mat-label>
                <input
                  [(ngModel)]="questionData.options[2]"
                  name="option3"
                  type="text"
                  matInput
                />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <!-- option4 -->
              <mat-form-field class="w-100">
                <mat-label>Enter Option4</mat-label>
                <input
                  [(ngModel)]="questionData.options[3]"
                  name="option4"
                  type="text"
                  matInput
                />
              </mat-form-field>
            </div>
          </div>
          <!-- answer -->
          <mat-form-field class="w-100">
            <mat-label>Select Answer</mat-label>
            <mat-select
              [(ngModel)]="questionData.answer"
              name="answer"
              required
            >
              <mat-option
                *ngIf="questionData.options[0]"
                [value]="questionData.options[0]"
                >{{ questionData.options[0] }}</mat-option
              >
              <mat-option
                *ngIf="questionData.options[1]"
                [value]="questionData.options[1]"
                >{{ questionData.options[1] }}</mat-option
              >
              <mat-option
                *ngIf="questionData.options[2]"
                [value]="questionData.options[2]"
                >{{ questionData.options[2] }}</mat-option
              >
              <mat-option
                *ngIf="questionData.options[3]"
                [value]="questionData.options[3]"
                >{{ questionData.options[3] }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <div class="container text-center mt-3 mb-2">
            <button mat-raised-button class="btn-grad">Add</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
