.img-1 {
  margin-top: 8rem;
  text-align: center;
}

.img-2 {
  width: 100px;
  height: 100px;
}

.btn-grad {
  background-color: #f8002f;
  background-image: linear-gradient(326deg, #f8002f 0%, #000c14 74%);
  color: white;
}
.title {
  font-family: "Ephesis", cursive;
  font-size: 2rem;
}
