.example-header-image {
  background-image: url("/assets/test.png");
  background-size: cover;
}
.drp{
  width: 100%;
  padding: 10%;
  color: rgb(4, 1, 20);
}
.drpMain{
  background-color: rgb(254, 255, 250);
}
span{
  color: tomato;
  box-shadow: gray;
}